# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/
build/

# production
/build

# Vercel
.vercel

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env*.local
.env
.env.development
.env.test
.env.production
!.env.example

# Supabase
.supabase/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# OS Files
.DS_Store
Thumbs.db

# Turbopack
.turbo/

# optional npm cache directory
.npm

# optional eslint cache
.eslintcache

# optional stylelint cache
.stylelintcache
